<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<div class="container">
<header th:replace="layout :: header"></header>
    <section class="banner" role="banner">
        <ul class="prodshow">
            <li>
                <p class="id">ID</p>
                <p class="prodname">NAME PRODUCT</p>
                <p>PRICE</p>
                <p>DESCRIPTION</p>
                <p>MANUFACTURE</p>
            </li>
            <li th:each="row,rowStat : ${products}">
                <p class="id" th:text="${row.getId()}"></p>
                <p class="prodname"><a th:text="${row.getProdname()}" th:href="@{/{id}/view(id=${row.getId()})}"></a></p>
                <p th:text="${row.getPrice()}"></p>
                <p th:text="${row.getDescription()}"></p>
                <p th:text="${row.getVendorx()}"></p>
                <a class="edit" title="Edit" th:href="@{/{id}/edit(id=${row.getId()})}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="delete" title="Delete" th:href="@{/{id}/delete(id=${row.getId()})}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </li>
        </ul>
    </section>
<footer th:replace="layout :: footer"></footer>
</div>
</body>
</html>