<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div class="container">
    <header th:replace="layout :: header"></header>
    <style>

    </style>
    <section class="banner" role="banner">
        <div class="">
            <h1>View product</h1>
            <ul th:each="row,statRow : ${search}">
                <li th:text="${search.prodname}"></li>
                <li th:text="${search.price}"></li>
                <li th:text="${search.description}"></li>
                <li th:text="${search.vendorx}"></li>
            </ul>
        </div>
    </section>
    <footer th:replace="layout :: footer"></footer>
</div>
</body>
</html>